*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
.header{
    width: 100%;
    top: 0;
    background: white;
display: flex;
justify-content: space-between;
align-items: center;
height: 10vh;
position: absolute;
}
.header > div{
    display: flex;
     
}
.header h1{
    color: #0067DB;
}
.header p{
    font-size: 18px;
    margin-right: 35px;
}
.logo{
    margin-left: 20px;
}
.button1{
    background-color: transparent;
    border: solid 1px black;
    border-radius: 12px;
    padding: 6px 14px;  
      margin-right: 35px;
}
.button1 i{
    color: #0067DB;   
}
.part1 img{
    /* background-size: cover; */
    /* position: center; */
    width: 100%;
    position: relative;
    height: 99vh;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.267);
    top: 0;
    width: 100%;
    height: 99vh;
}
.middle1{
    color: white;
    font-size: 40px;
    top: 40%;
    left: 8%;
    position: absolute;
}
.middle2{
    position: absolute;
    top: 50%;
    left: 7%;
    padding: 8px 20px;
    background-color: white;
    width: 85%;
    border-radius: 20px;
    display: flex;
}
.middle2 .button2{
    margin-right: 20px;
    padding: 20px 44px;
    border: 1px solid black;
border-radius: 10px;
}
.button3{
display: flex;
}


.outside h2{
    padding-top: 25px;
    margin-left: 8%;
    color: rgb(28, 35, 68);
    font-size: 23px;  
}
.images{
    padding-top:20px ;
    width: 100%;
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(4,.2fr); */
}
.images img{
    width: 100%;
    /* margin-right: 20px; */
   height: 80%;
    /* border: 1px solid gray; */
}
.card1{
    /* width: 13%; */
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    width: 20%;
    height: 40%;
    margin-right: 20px;
}
.card1 .sub1 {
    font-weight: bold;
    font-size: 18px;
padding: 6px 20px;
}
.images1{
    padding-top:20px ;
    width: 84%;
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(4,.2fr); */
}
.part3{
    display: flex;
    justify-content: center;
    height: 100%;
}
.card2{
    border-radius: 10px;
    overflow: hidden;
    width: 32%;
    margin-right: 20px;
    height: 48vh;
}
.paragraph{
    margin-left: 8%;
    color:rgb(28, 35, 68) ;
    margin-top: 5%;
}
.card2 img{
    border-radius: 10px;
    height: 100%;
    position: relative;
}
.card2 p{
position: absolute;
margin-top: -40px;
font-size: 20px;
color: white;
font-weight: bold;
margin-left: 20px;
}

.part3 h1{
    margin-top: 40px;
    color: rgb(28, 35, 68);
}
.part4{
    margin-top: 4%;
    margin-left: 8%;
    width: 83%;
    border-radius: 20px;
    background: url(./images/DE-Hero-Image_Balje.jpeg);
}
.inside{
  padding-top: 10%;  
  padding-left: 40px;
  width: 32%;
}
.inside h2{
    color: white;
    font-size: 36px;
}
.inside p{
    padding-top: 10px;
    color: white;
}
.inside button{
   background-color: rgb(28, 35, 68);
   border-radius: 20px;
   padding: 13px 20px;
   border: 1px solid rgb(28, 35, 68);
   color: white;
   margin-top: 20px;
}
.overlay1{
    background-color: rgba(0, 0, 0, 0.534);
    width:100%;
height:68vh;
border-radius: 20px;
}
.paragraph1{
    margin-top: 3%;
    margin-left: 8%;
}
.part5{
    display: flex;
    justify-content: center;
width: 100%;
}
.card3 img{
    border-radius: 10px;
    margin-right: 20px;
    height: 56vh;
}

