*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
.header{
    width: 100%;
    top: 0;
    background: white;
display: flex;
justify-content: space-between;
align-items: center;
height: 10vh;
position: absolute;
}
.header > div{
    display: flex;
     
}
.header h1{
    color: #0067DB;
}
.header p{
    font-size: 18px;
    margin-right: 35px;
}
.logo{
    margin-left: 20px;
}
.button1{
    background-color: transparent;
    border: solid 1px black;
    border-radius: 12px;
    padding: 6px 14px;  
      margin-right: 35px;
}
.button1 i{
    color: #0067DB;   
}
.part1 img{
    /* background-size: cover; */
    /* position: center; */
    width: 100%;
    position: relative;
    height: 99vh;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.267);
    top: 0;
    width: 100%;
    height: 99vh;
}
.middle1{
    color: white;
    font-size: 30px;
    top: 40%;
    left: 11%;
    position: absolute;
}
.middle2{
    position: absolute;
     top: 50%; 
    left: 10%; 
justify-content: center;
align-items: center;
    background-color: rgb(247, 246, 246);
    width: 80%;
    height: 12%;
    position: flex;
    border-radius: 20px;
    display: flex;
}
.middle2 .button2{
    margin-right: 20px;
    padding: 10px 24px;
    border: 1px solid black;
border-radius: 10px;
font-size: 20px;
display: flex;
margin-left: 10px;
}
.button2 img{
    width: 10%;
}
.middle2 .button2 p{
    display: flex;
    justify-content: left;
}
.button3{
    margin-right: 20px;
    padding: 10px 54px;
    display: flex;
    border: 1px solid black;
border-radius: 10px;
font-size: 20px;
}
.button3 img{
    width: 15%;
}
.button4{
border: 1px solid rgb(0, 0, 0);
background-color: white;
height: 52%;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
display: flex;
gap: 30px;
color: rgb(18, 22, 41);;
}
.button4 img{
    width: 10%;
}
.button4 .inside{
font-size: 20px;
}
.button5 button{
   background-color:rgb(18, 22, 41) ; 
   color: white;
   border: 7px solid rgb(18, 22, 41);
   margin-left: 15px;
   border-radius: 20px;
   padding: 5px 7px ;
   cursor: pointer;
   font-size: 20px;
   margin-right: 10px;
}
.outside{
    margin-top: 3%;
}
.outside h2{
    color: rgb(18, 22, 41)  ;
    margin-left: 8%;
    margin-top: 10px;
}
.images{
    padding-top:20px ;
    width: 100%;
    display: flex;
    justify-content: center;
}
.images img{
    width: 100%;
   height: 80%;
}
.card1{
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    width: 20%;
    height: 40%;
    margin-right: 20px;
}
.card1 .sub1 {
    font-weight: bold;
    font-size: 18px;
padding: 6px 20px;
}
.images1{
    padding-top:20px ;
    width: 84%;
    display: flex;
    justify-content: center;
   
}
.part3{
    display: flex;
    justify-content: center;
    height: 100%;
}
.card2{
    border-radius: 10px;
    overflow: hidden;
    width: 32%;
    margin-right: 20px;
    height: 48vh;
}
.paragraph{
    margin-left: 8%;
    color:rgb(18, 22, 41) ;
    margin-top: 5%;
}
.card2 img{
    border-radius: 10px;
    height: 100%;
    position: relative;
}
.card2 p{
position: absolute;
margin-top: -40px;
font-size: 20px;
color: white;
font-weight: bold;
margin-left: 20px;
}

.part3 h1{
    margin-top: 40px;
    color: rgb(18, 22, 41);
}
.part4{
    margin-top: 4%;
    margin-left: 8%;
    width: 83%;
    border-radius: 20px;
    background: url(./images/DE-Hero-Image_Balje.jpeg);
}


.overlay1{
    background-color: rgba(0, 0, 0, 0.534);
    width:100%;
height:68vh;
border-radius: 20px;
}
.inside1{
    color: white;
    /* font-size: 26px; */
    width: 30%;
   padding-top: 10%;
   padding-left: 4%;
}
.inside1 h2{
    /* color: white; */
    font-size: 40px;
    /* width: 30%; */
}
.inside1 button{
    margin-top: 16px;
    border: 1px solid rgb(30, 35, 65);
    background-color: rgb(30, 35, 65);
    color: white;
    padding: 8px 20px;
    border-radius: 17px;
}
.paragraph1{
    margin-top: 3%;
    margin-left: 8%;
    margin-bottom: 15px;
}
.part5{
    display: flex;
    justify-content: center;
width: 100%;
}
.card3 img{
    border-radius: 10px;
    margin-right: 20px;
    height: 62vh;
}
.card3 p{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: lighter;
}
.card3 h4{
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
}
.part6{
    display: flex;
    justify-content: center;
width: 100%;
margin-top: 34px;
}
.card4 img{
    border-radius: 10px;
    margin-right: 20px;
    height: 40vh;
}
.card4 p{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: lighter;
}
.card4 h4{
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
}
.part7{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-left: 3%;
}
.card5{
    width: 20.5%;
    margin-right: 20px;
}
.card5 h4{
    font-weight: bold;
}
.card5 p{
    font-weight:lighter;
    margin-top: 10px;
}
.card5 img{
width: 10%;
}
.part8{
    margin-top: 4%;
    margin-left: 8%;
    width: 83%;
    border-radius: 20px;
    background: url(https://forever.travel-assets.com/flex/flexmanager/images/2022/09/06/vrbo_lyp-large.jpg);
}

.overlay2{
    background-color: rgba(0, 0, 0, 0.534);
    width:100%;
height:68vh;
border-radius: 20px;
}
.inside2{
    color: white;
    width: 30%;
   padding-top: 4%;
   padding-left: 4%;
}
.inside2 h2{
    font-size: 45px;
}
.inside2 button{
    margin-top: 16px;
    border: 1px solid rgb(30, 35, 65);
    background-color: rgb(30, 35, 65);
    color: white;
    padding: 8px 20px;
    border-radius: 17px;
}
.part9 h2{
    color: rgb(18, 22, 41);
    margin-top: 3%;
}
.part9 p{
    margin-top: 10px;
    font-weight: lighter;
}
.part9 p span{
    color: #0067DB;
    cursor: pointer;
}
.part9{
    width: 82%;
    margin-left: 9%;
    margin-top: 6%;
}
.part10{
    margin-left: 9%;
    width: 80%;
    margin-top: 3%;
}
.part10 h2{
    font-size: 30px;
}
.drop_down{
    display: flex;
    justify-content: space-between;
}
.drop_down h4{
    font-size: 20px;
    color: rgb(35, 42, 77);
    margin-top: 2%;
    cursor: pointer;
}
.drop_down i{
    font-size: 20px;
    font-weight: lighter;
    color: rgb(35, 42, 77);
    margin-top: 10px;
    cursor: pointer;
}
.fewo{
    color: #0067DB;
    margin-top: 3%;
    margin-left: 10%;
}
.part11{
    display: flex;
    justify-content: center;
    gap: 11%;
    margin-top: 10px;
}

.first{
    margin-right: 4%;
}
.first p{
   margin-top: 7%;
   color: #3468E3;
   cursor: pointer;
}
.second{
    margin-right: 4%;
    margin-bottom:3%;
}
.second p{
    margin-top: 7%;
    cursor: pointer;
    color: #3468E3;
 }
.third p{
    margin-top: 7%;
    cursor: pointer;
    color: #3468E3;
 }
.part12{
    margin-left: 10%;
    margin-top: 12px;
}